@charset "utf-8";
/* CSS Document */

body {
    background-color: #535353;
    padding: 10px;
    overflow: hidden;
}

select#sessions {
    width: 100%;
}

body div,
body select {

}

section {
    padding: 15px 0;
}

section.messages {

}

#message {
    color: #ccc;
    font-size: 1em;
}

section.content {
    padding: 0;
}

section.buttons {
    padding-top: 8px;
}

.hidden {
    display: none;
}

option {
    padding: 2px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
}